/.idea/
/TreinoTrack.iml
app/__pycache__/database.cpython-39.pyc
app/__pycache__/database.cpython-312.pyc
app/__pycache__/main.cpython-39.pyc
app/models/__pycache__/usuario.cpython-39.pyc
app/routers/__pycache__/usuario.cpython-39.pyc
app/routers/__pycache__/usuario.cpython-312.pyc
app/schemas/__pycache__/usuario.cpython-39.pyc
app/models/__pycache__/avaliacaofisica.cpython-39.pyc
app/models/__pycache__/equipamento.cpython-39.pyc
app/models/__pycache__/exercicio.cpython-39.pyc
app/models/__pycache__/musculo.cpython-39.pyc
app/models/__pycache__/meta.cpython-39.pyc
app/models/__pycache__/treino.cpython-39.pyc
app/models/__pycache__/registrotreino.cpython-39.pyc
app/models/__pycache__/treinoexercicio.cpython-39.pyc
app/models/__pycache__/usuariotreino.cpython-39.pyc
app/routers/__pycache__/avaliacaofisica.cpython-39.pyc
app/routers/__pycache__/usuariotreino.cpython-39.pyc
app/routers/__pycache__/equipamento.cpython-39.pyc
app/routers/__pycache__/meta.cpython-39.pyc
app/routers/__pycache__/exercicio.cpython-39.pyc
app/routers/__pycache__/musculo.cpython-39.pyc
app/routers/__pycache__/registrotreino.cpython-39.pyc
app/routers/__pycache__/treinoexercicio.cpython-39.pyc
app/routers/__pycache__/treino.cpython-39.pyc
app/schemas/__pycache__/avaliacaofisica.cpython-39.pyc
app/schemas/__pycache__/equipamento.cpython-39.pyc
app/schemas/__pycache__/exercicio.cpython-39.pyc
app/schemas/__pycache__/meta.cpython-39.pyc
app/schemas/__pycache__/musculo.cpython-39.pyc
app/schemas/__pycache__/registrotreino.cpython-39.pyc
app/schemas/__pycache__/treino.cpython-39.pyc
app/schemas/__pycache__/treinoexercicio.cpython-39.pyc
app/schemas/__pycache__/usuariotreino.cpython-39.pyc
app/routers/__pycache__/frontend.cpython-39.pyc
